 /*Start global Rules  */
 *{

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;

 }
 
 html{
  scroll-behavior: smooth;
}
 /* End Global rules */
body{
  margin: 0;
  padding: 0;
  width: 100vw;
}
/* Start of navSection*/
#navSection
{
 
  z-index: 3;
  margin: 0;
  padding: 0px;
  height: 9vh;
  width: 100%;
  
}


 .menu-list
{
  height: 100%;
  width: 100%;
  font-size: 1.25em;
  background-color: #ffffff; 
  
  
}
/*End of navSection*/

/* Start of homePage*/
#homePage
{
  margin-top: 9vh;
  padding: 0px;
}

#homePage h1
{
  color: blue;
}
/*Start of homeSidebar  */

#homeSidebarLeft
{
  z-index: 2;
 
  background-color: #f3f2ef;
}

/*End of homeSidebar   */

/*Start of homeContent   */

/*Start of header   */
#header
{
  height: min(70vw,70vh);
  width: 100%;
  background-image: url("../images/background.jpg");
  /* background-image: var(--bs-gradient); */
  background-size: cover;
  padding: 0px;
  margin: 0px;
  
}
.overlay {
  
  position: relative; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  background-color: rgba(0,0,0,0.75); /* Black background with opacity */
  z-index:1; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
} 

#headerName{
  padding-top: 7vh;
}

#social-logos{
  width: 100%;
  bottom: 0;
  text-align: center;
  font-size:3.25em;
  color: white;
}
.github-logo
{
  
  margin-left: 5vw;
  
}
.linkedin-logo
{
  
  margin-left: 5vw;
  
}
.gmail-logo
{
  
  margin-left: 5vw;
  
}
/*End of header   */

/*Start of about   */
#about
{ 
  padding-top: 100px;
}
#about img
{
 margin-top: 50px;
  width: 100%;
  border-radius:50%;
}
#about section
{
  padding: 50px;
  
}
/*end of about   */
/*Start of work Experience   */
#workExperience
{ 
  padding-top: 100px;
}
#workExperience img
{
  width: 90%;
  
}
#workExperience header
{
  margin-bottom: 100px;
 
}
/*End of work Experience   */

/*Start of education Experience   */
#education
{ 
  padding-top: 100px;
}
#education header
{
  margin-bottom: 100px;
 
}
#education #schools img
{
  padding-right: 12px;
  width: 90%;
 
}

#certificates 
{
  padding-top: 100px;
  
}


#certificates figure 
{
  position: relative;
  width: 100%;
  height: 100%;
  text-align:center;
  
  
}
#certificates figure img
{
  position: relative;
  width: 100%;
  height: 80%;
  text-align:center;
  
  
}

#certificates button
{
 
  padding: 0;
  margin: 0;
  width: 100%;
  height: 20%;
  height: 50px;

  
}


#models img{
  
  width: 100%;
  height: 100%;
}

#footer {
  position: fixed;
  left: 450;
  margin: 0px auto;
  bottom: 25;
  margin-top: 50;
  background-color: transparent;
}
/*End of education Experience   */
/* End of homeContent */
/*End of homePage  */


footer {
 text-align: center;
  padding: 3px;
  background-color: rgba(0,0,0,.75);
  color: white;
  font-size: 2em;
}

footer a{
  color: white;
  display: inline-flex;
}


