
/*Start global Rules  */
*{

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
  
   }
   
html{
    scroll-behavior: smooth;
  }

body{
	font: normal 16px 'Roboto', sans-serif;	
	height: 100%;
	width: 100%;
}


section h1{font-size: 4.5vw;}

/* countdown styles */
section{
    margin-bottom: 5vh;
    text-align:center ;
    padding: 0px;
}
.wrapper
{
    padding: 0px;
}
div#countdown{color: #353535;
    padding: 0px;
    margin: 0px;
}

div#countdown p{
	width: 100%;
	
}
section p.numbers{margin-top:2.5vh;}
section p.strings{padding-top:2vh;}
p.numbers{
	width: 100%;
	height: 5vh;
  
	background: #FFFFFF;
  font-size:min(2.5vw,2.5vh);
  margin: 0px;
	
}

 p.strings{
	width: 100%;
	height: 5vh;
	font-size:min(2.5vw,2.5vh);
  text-align: center;
	background: #FF5722;
	color: #FFFFFF;
  margin-top: -3vh;

    
} 

div.cd-box{
	height: 11vh;
	background: #FFFFFF;
	
	padding: 0px;
	margin-top: 3vh;
	-webkit-box-shadow: 5px 6px 9px 1px rgba(53, 53, 53, 0.5);
	-moz-box-shadow: 5px 6px 9px 1px rgba(53, 53, 53, 0.5);
	box-shadow: 5px 6px 9px 1px rgba(53, 53, 53, 0.5);
}





/* End Global rules */
#main
{
       height: auto;
 }
/* Start of navSection*/
#navSection
{
    z-index: 2;
    padding: 0px;
    margin: 0px;
  }
.menu-list
  {
    width: 100%;
    height: 100%;
    font-size: 1.25em;
    background-color: #ffffff; 
    opacity: 100%;
  }
  /* Start of homePage*/
#homePage
{
  padding: 0px;
}

#homePage h1
{
  color: blue;
}
/*Start of homeSidebar  */

#homeSidebarLeft
{ z-index: -1;
  margin-top: 80px;
  background-color: #f3f2ef; 
  padding: 0px;
}
#homeSidebarRight
{z-index: -1;
  margin-top: 80px;
  background-color: #f3f2ef; 
  padding: 0px;
}
/*End of homeSidebar   */

/*Start of homeContent   */
#homeContent
{
 margin-top:80px ;
 text-align: center;
 padding: 0px;


}


footer {
    text-align: center;
     padding: 3px;
     background-color: gray;
     color: white;
     font-size: 3vw;
   }
   
footer a{
     color: white;
     display: inline-flex;
   }



.mapouter {
    
    text-align: center;
    height: 500px;
    margin-bottom: 100px;
    
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 500px;
    
}

.location
{
  margin-bottom: 10vh;
}
.location p {
    font-size: 5vw;
}
.ourVedio{
    margin-bottom: 40px;
    height: 45vh;
    padding: 0px;
    
}
.ourVedio iframe{
    padding: 0px;
}
.WelcomeMSG{
    margin-bottom: 40px;
    
}
.WelcomeMSG p{
    font-size: 2vw;
    margin-top: 10%;
}

.ourpic
{
  
  width:100%;
}