/*Start global Rules  */
*{

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
  
   }
   
   html{
    scroll-behavior: smooth;
  }
   /* End Global rules */
   body{
    margin: 0;
    padding: 0;
    width: 100vw;
    max-width: 100%;
  }
  /* Start of navSection*/
  #navSection
  {
    z-index: 2;
    padding: 0px;
  }
   .menu-list
  {
    width: 100%;
    height: 100%;
    font-size: 1.25em;
    background-color: #ffffff; 
    opacity: 100%;
    
  }
  #homePage
{
  margin-top: 12vh;
  padding: 0px;
  max-width:100%;
}
  /* Start of homeContent*/
  #homeContent
  {
    max-width:100%;
    
  
  }
  #homeSidebar
  {
    z-index: 2;
    margin: 0px;
    padding: 0px;
    background-color: #f3f2ef;
  }
  #homeContent h1
  {
    font-size: 1.5em;
    text-align: center;
    color: blue;
  }

  #homeContent h2
  {
    font-size: 1em;
    text-align: center;
  }

  #homeContent h3
  {
    font-size: 1em;
  }

  #homeContent section
  {
    margin-bottom: 5vh;
  }
  #homeContent ol
  {
   list-style-type: upper-alpha;
    
  }
  #homeContent li
  {
    margin-top: 2vh;

  }

  #homeContent li a {
    color:  rgb(23, 192, 235);
  }



  footer {
    text-align: center;
     padding: 3px;
     background-color: rgba(0,0,0,.75);
     color: white;
     font-size: 2em;
   }
   
   footer a{
     color: white;
     display: inline-flex;
   }

