/*Start global Rules  */
*{

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
  
   }
   
   html{
    scroll-behavior: smooth;
  }
  body{
    margin: 0;
    padding: 0;
    width: 100vw;
    
    max-width:100%;
  }
   /* End Global rules */
   #homePage
   {
       margin: 0px;
     margin-top: 9vh;
     padding: 0px;
     max-width:100%;
    
 }
   #homeSidebar
   {
     z-index: 2;
     margin: 0px;
     padding: 0px;
     background-color: #f3f2ef;
   }
  /* Start of navSection*/
  #navSection
  {
    z-index: 2;
    padding: 0px;
  }
   .menu-list
  {
    width: 100%;
    height: 100%;
    font-size: 1.25em;
    background-color: #ffffff; 
    opacity: 100%;
    
  }
  /* Start of homePage*/
#homePage
{
  padding: 0px;
}

#homePage h1
{
  color: blue;
}
/*Start of homeSidebar  */

#homeSidebarLeft
{ z-index: 3;
  margin-top: 80px;
  background-color: #f3f2ef; */
}
#homeSidebarRight
{
  margin-top: 80px;
  background-color: #f3f2ef; */
}
/*End of homeSidebar   */

/*Start of homeContent   */
#homeContent
{
 padding-top:80px ;

}
#homeContent img
{
    border: black;
    border-color: black;
    font-size: 2em;
    border-style: solid;
 width: 100%;

}
#homeContent a
{

 width: 100%;

}
footer {
    text-align: center;
     padding: 3px;
     background-color: gray;
     color: white;
     font-size: 2em;
   }
   
   footer a{
     color: white;
     display: inline-flex;
   }